<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.authine.cloudpivot.ext.mapper.ClientContractMapper" >


	<select id="getClientContractList"  resultType="com.authine.cloudpivot.ext.vo.ClientContractVO">
		SELECT
			  p.Jobcode jobcode,
			  c.ProjectName projectName,
			  c.ContractType contractType,
			  c.ClientContractVersion clientContractVersion,
			  c.ClientContractCode clientContractCode,
			  c.ClientContractPeriodStart clientContractStarttime,
			  c.ClientContractPeriodEndtime clientContractEndtime,
			  c.ClientContractStatus clientContractStatus,
			  c.ContractAmount contractValue
		FROM
			  i_clientcontract c,
			  i_project_summary p
		WHERE  c.Jobcode = p.id and
			<if test="queryClientContract.jobcode !=null and queryClientContract.jobcode!='' ">
				jobcode like '%#{queryClientContract.jobcode}%'  and
			</if>

			<if test="queryClientContract.projectName !=null and queryClientContract.projectName!='' ">
				projectName like '%#{queryClientContract.projectName}%'  and
			</if>

			<if test="queryClientContract.contractType !=null and queryClientContract.contractType!='' ">
				contractType like '%#{queryClientContract.contractType}%'  and
			</if>

			<if test="queryClientContract.clientContractVersion !=null and queryClientContract.clientContractVersion!='' ">
				clientContractVersion like '%#{queryClientContract.clientContractVersion}%'  and
			</if>

			<if test="queryClientContract.clientContractCode !=null and queryClientContract.clientContractCode!='' ">
				clientContractCode like '%#{queryClientContract.clientContractCode}%'  and
			</if>

			<if test="queryClientContract.starttimeStart !=null and queryClientContract.starttimeStart !='' ">
				clientContractStarttime &gt;= to_date(#{queryClientContract.starttimeStart},'yyyy-MM-dd')  and
			</if>

			<if test="queryClientContract.starttimeEnd !=null and queryClientContract.starttimeEnd !=''">
				clientContractStarttime &lt;= to_date(#{queryClientContract.starttimeEnd},'yyyy-MM-dd')  and
			</if>

			<if test="queryClientContract.endtimeStart !=null and queryClientContract.endtimeStart !='' ">
				clientContractEndtime &gt;= to_date(#{queryClientContract.endtimeStart},'yyyy-MM-dd')  and
			</if>

			<if test="queryClientContract.endtimeEnd !=null and queryClientContract.endtimeEnd !=''">
				clientContractEndtime &lt;= to_date(#{queryClientContract.endtimeEnd},'yyyy-MM-dd')  and
			</if>

			<if test="queryClientContract.clientContractStatus !=null and queryClientContract.clientContractStatus!='' ">
				clientContractStatus like '%#{queryClientContract.clientContractStatus}%'  and
			</if>

			<if test="queryClientContract.contractValue1 !=null and queryClientContract.contractValue1 !='' ">
				contractValue &gt;= #{queryClientContract.contractValue1}  and
			</if>

			<if test="queryClientContract.contractValue2 !=null and queryClientContract.contractValue2 !='' ">
				contractValue &lt;= #{queryClientContract.contractValue2}  and
			</if>
			1=1
	</select>






</mapper>